@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");
.App {
  margin-top: 10%;
  text-align: center;
  justify-content: center;
}

.commentary_border {
  border: solid 2px #0095da;
  padding: 1.5rem;
  margin: 20px 5% 0 5%;
  background-color: #ffffff;
  border-radius: 10px;
}

.wrapper {
  background: #ffffff;
  border: solid 1px #dddddd;
  border-radius: 10px;
  margin: 20px 5% 0 5%;
}

.wrapper textarea {
  width: 80%;

  padding: 15px;
  outline: none;
  resize: none;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

textarea:is(:focus) {
  border-width: 2px;
  padding: 14px;
  border-color: #00db63;
}

.messages {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .commentary_border {
    margin: 20px 20% 0 20%;
  }
  .wrapper {
    margin: 20px 20% 0 20%;
  }
}

@media only screen and (min-width: 768px) {
  .commentary_border {
    margin: 20px 20% 0 20%;
  }
  .wrapper {
    margin: 20px 20% 0 20%;
  }
}

@media only screen and (min-width: 1400px) {
  .commentary_border {
    margin: 20px 25% 0 25%;
  }
  .wrapper {
    margin: 20px 25% 0 25%;
  }
}

.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.vote {
  height: auto;
  float: left;
  margin: 0 0 0 0;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  float: left;
}

#icon:hover {
  cursor: pointer;
}

.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.507);
}

.modalContainer {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 60%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 100vw;
}

::-webkit-scrollbar-track-piece:end {
  margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 10px;
}

.card {
  border: solid 2px black;
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

.leftside {
  width: auto;
  border: solid 2px black;
  margin: 1px;
}

.rightside {
  height: auto;
  overflow: hidden;
  white-space: initial;
  word-wrap: break-word;
  margin: 1px;
  width: 95%;
  border: solid 2px black;
}

.icons {
  margin: 0 10px 5px 0;
  height: 15px;
  width: 20px;
  float: right;
}

.reply textarea {
  width: 80%;
  height: 65px;
  padding: 15px;
  outline: none;
  resize: none;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

.reply textarea:is(:focus) {
  border-width: 2px;
  padding: 14px;
  border-color: #3493ff;
}

.card {
  margin: 10px;
}

.comment-sector {
  position: relative;
  height: auto;
}

.comment {
  display: flex;
  text-align: left;
  width: auto;
  border: solid 2px black;
  margin: 10px;
  overflow: hidden;
  white-space: initial;
  word-wrap: break-word;
}

.comment img {
  display: flex;
  height: 40px;
  width: auto;
  border: solid 2px black;
  border-radius: 50px;
}

.delete {
  display: flex;
  margin: 0 0 0 15px;
  cursor: pointer;
}

.input-search {
  height: 30px;
  width: 100px;
  border: 2px solid #0075ff;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #ffffff25;
  padding-right: 40px;
  color: rgb(0, 0, 0);
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 5px solid #0075ff;
  border-left: 5px solid #0077ff;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
